html, body {
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  background: #FFFACD;
  color: #6C6E58;
}

#wrapper {
  width: 50em;
  margin: 2em auto 0;
  background: #FFF;
}

#header {
  text-align: center;
  padding: 1.5em;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  background: #988745;
}

#header h1 {  
  font-size: 4em;
  color: #FFF;
}

#menu {
  background: #999912;
}

#menu ul li {
  display: inline;
}

#menu ul li a {
  color: white;
  font-size: 1.3em;
  padding: 0 0.5em;
  line-height: 2.5em;
}

#content {
  padding: 2em;
}
