html, body {
  height: 100%;
}

body {
  font-family: Helvetica,Arial,"Microsoft YaHei","微软雅黑",STXihei,"华文细黑",SimSun,"宋体",sans-serif;
  background: #FFFACD;
  color: #505050;
}

a:link {
  text-decoration: none;
}

#wrapper {
  width: 50em;
  margin: 2em auto 0;
}

#header {
  text-align: center;
  padding: 0.8em;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  background: #988745;
}

#header h1 {  
  font-size: 2.4em;
  color: #FFF;
}

#menu {
  background: #999912;
}

#menu ul {
  list-style: none;
  margin: 0;
}

#menu ul li {
  display: inline;
}

#menu ul li a {
  color: white;
  font-size: 1.3em;
  padding: 0 0.5em;
  line-height: 2em;
}

#content {
  background: white;
  padding: 2em;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

#content h1 {
  font-size: 2em;
  margin: 0 0 1em;
} 

#content h2 {
  font-size: 1.5em;
}

#content p {
  text-indent: 2em;
  margin: 0.2em 0em;
}

#content ul {
  margin: 0 2em;
}

#content p.post-meta {
  color: #7C7E78;
}

#content blockquote p {
  text-indent: 0;
}

#post_list ul {
  list-style-type: none;
  margin: 0 1em;
  padding: 0;
}

#post_list ul li span {
  float: right;
}

#footer {
  text-align: center;
  margin-bottom: 2em;
  font-size: 0.9em;
  padding: 0.5em;
}
