html, body {
  height: 100%;
}

body {
  font-family: Helvetica,Arial,"Microsoft YaHei","微软雅黑",STXihei,"华文细黑",SimSun,"宋体",sans-serif;
  background: #FFFACD;
  color: #505050;
}

a:link {
  text-decoration: none;
}

#wrapper {
  width: 50rem;
  margin: 2rem auto 0;
}

#header {
  text-align: center;
  padding: 0.8rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  background: #988745;
}

#header h1 {  
  font-size: 2.4rem;
  color: #FFF;
}

#menu {
  background: #999912;
}

#menu ul {
  list-style: none;
  margin: 0;
}

#menu ul li {
  display: inline;
}

#menu ul li a {
  color: white;
  font-size: 1.3em;
  padding: 0 0.5em;
  line-height: 2em;
}

#content {
  background: white;
  padding: 2rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

#content h1 {
  font-size: 2rem;
  margin: 0 0 1rem;
} 

#content h2 {
  font-size: 1.5rem;
}

#content p {
  text-indent: 2rem;
  margin: 0.2rem 0rem;
}

#content ul {
  margin: 0 0 0 2rem;
}

#content p.post-meta {
  color: #7C7E78;
  margin: 0 0 1rem;
}

#content blockquote p {
  text-indent: 0;
  margin: 0 0 0 2rem;
}

#post_list ul {
  list-style-type: none;
  margin: 0 1rem;
  padding: 0;
}

#post_list ul li span {
  float: right;
}

code, pre {
  font-family: "DejaVu Sans Mono", Consolas, "Courier New", Arial, monospace;
  font-size: 0.94rem;
  border-radius: 3px;
  background-color: #F8F8F8;
  border: 1px solid #CCC;
}

pre {
  margin: 0;
  padding: 2px 0.8rem;
  white-space: pre;
  word-wrap: break-word;
  overflow: auto;
}

code {
}

pre code {
  border: 0px none !important;
  line-height: 1.2rem;
}

#footer {
  text-align: center;
  margin-bottom: 2em;
  font-size: 0.9em;
  padding: 0.5em;
}
